.queueList {
  padding: 0;
  list-style: none;
}

.queueItem {
  border: solid #999 1px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 0.25rem;
  overflow: hidden;
  white-space: nowrap;
}

.queueItem:nth-child(even) {
  background-color: #eee;
}

.thumbnail {
  height: 4rem;
  vertical-align: bottom;
}

.centerContainer {
  display: inline-flex;
  flex-direction: column;
  height: 4rem;
  justify-content: space-around;
  margin-left: 0.5rem;
}