* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.queueList {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: auto;
  background-color: white;
}

.section {
  padding: 0.5rem;
  background: linear-gradient(0, #71b8fe, #9ecfff);
  box-shadow: .25rem .25rem .25rem rgba(255, 255, 255, 0.5) inset, -0.25rem -0.25rem 0.25rem rgba(0, 0, 0, 0.25) inset;
}

.section h2 {
  margin: 0.5rem;
  background-color: #c3e1ff;
  padding: 0.25rem;
}

.main {
  background: linear-gradient(0, #feba71, #ffc98f);
}

.main h1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: #ffdfbc;
  padding: 0.25rem;
}

.action {
  background: linear-gradient(0, #76ee80, #a3f6aa);
}

.inset {
  background-color: white;
  padding: 0.5rem;
  margin: 0.5rem auto;
  width: calc(100% - 1rem);
  max-width: 1024px;
  box-shadow: .25rem .25rem .25rem rgba(255, 255, 255, 0.5), -0.25rem -0.25rem 0.25rem rgba(0, 0, 0, 0.25);
}